$primary-color:       #7CAFF0;
$light-primary-color: #87C5FF;
$accent-color:        #FD8CC0;
$light:               #FAFAFA;
$primary-text:        #212121;
$secondary-text:      #757575;
$divider-color:       #BDBDBD;