.timeline {
    position: relative;
    width: 100%;
    padding: 40px 10px;

    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 25px;
        width: 25px;
        background: transparent;
        border: 5px solid $light;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 5px;
        background: $light;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.timeline__item-block {
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 10px 20px;
    margin: 50px 0;
    background: $light;
    border-radius: 5px;

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 23px;
        height: 30px;
        width: 30px;
        transform: rotate(-45deg);
        background: inherit;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        height: 15px;
        width: 15px;
        background: $light;
        border: 5px solid $light;
        border-radius: 50%;
        top: 30px;
        box-sizing: border-box;
    }

    &.timeline__item-block--left {
        // float: left;
        left: 0;
        box-shadow: 1px 3px 10px $primary-text + 33;

        &:before {
            right: -14px;
            box-shadow: 3px 4px 3px $primary-text + 55;
        }

        &:after {
            right: calc(-10% - 7px);
        }
    }

    &.timeline__item-block--right {
        // float: right;
        left: calc(50% + 49px);
        box-shadow: -1px -3px 10px $primary-text + 33;

        &:before {
            left: -14px;
            box-shadow: -3px -4px 3px $primary-text + 55;
        }

        &:after {
            left: calc(-10% - 7px);
        }
    }
}

.timeline__item-title {
    font-size: 20px;
    margin: 8px 0 15px;
    color: $primary-text;
}

.timeline__image-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px 0;

    .timeline__image {
        width: 100%;
        height: auto;
    }
}

.timeline__item-description-label {
    font-size: 18px;
    color: $secondary-text;
    margin: 10px 0;
}

.timeline__item-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeline__item-description-field {
    width: calc(100% - 100px);
    border: 1px solid $divider-color;
    resize: none;
    height: 60px;
}

.timeline__add-description {
    background: $light-primary-color;
    padding: 8px 10px;
    border-radius: 50%;
    color: $light;
    font-size: 35px;
}